<!DOCTYPE html>
<html>
  <head>
    <title>Band Social</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav>
      <%= link_to "Home", home_path  %>
      <% if !@logged_in_user %>
        <%= link_to "Login", new_session_path  %>
        <%= link_to "Sign Up", new_user_path  %>
      <% else %>
        <%= render "./layouts/logout" %>
      <% end %>
    </nav>
    <%= render "./layouts/errors" %>
    <%= render "./layouts/success" %>
    <%= yield %>
  </body>
</html>
